<a href="https://colab.research.google.com/github/gokhyk/PythonDataScienceHandbook/blob/master/datapreparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preparing Data
### This notebook will get the raw file from google drive and then create files ready for the deep learning process

#The first data to download is from st lois fed website total assets

https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=WALCL&scale=left&cosd=2002-12-18&coed=2021-02-17&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Weekly%2C%20As%20of%20Wednesday&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2021-02-23&revision_date=2021-02-23&nd=2002-12-18

In [2]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=WALCL&scale=left&'
column_names = ['date', 'walcl']
raw_dataset = pd.read_csv(url, names=column_names, header=0,
                          na_values='?', comment='\t', skipinitialspace=True, index_col = 'date')
balancesheet = raw_dataset.copy()

In [6]:
balancesheet.index = pd.to_datetime(balancesheet.index)
balancesheet.index =

In [7]:
balancesheet.tail()

                walcl
date
2021-01-20  7414942.0
2021-01-27  7404926.0
2021-02-03  7410598.0
2021-02-10  7442225.0
2021-02-17  7557402.0